*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App{
  background-color:#d99879;
  height:100vh;
  width:100%;
}

.reminder-wrapper {
  display: flex;
  align-items: center;
}

.reminder-container {
  width: 30em;
  height: 2em;
  display: flex;
  color: #000;
  border: 1px solid #686868;
  align-items: center;
  padding: 0 1em;
  border-radius: 5px;
  justify-content: space-between;
}

.reminder-wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}

.reminder {
  font-size: 15px;
}

.reminder-id {
  font-size: 15px;
}

.reminder-time {
  font-size: 15px;
}

.reminder-remove {
  cursor: pointer;
  margin-left: 10px;
}

input {
  margin-left: 10px;
  min-height: 1.4em;
  margin-bottom: 10px;
}

label {
  margin-left: 12px;
  margin-bottom: 6px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
